<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    @charset "utf-8";
    /* CSS Document */
    
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);
    
    @import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
    
    /* ---------- FONTAWESOME ---------- */
    
    [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    }
    
    /* ---------- GENERAL ---------- */
    
    body {
        background-color: white;
        color: #606468;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
    }
    
    a {
        color: #eee;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    input {
        border: none;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
        padding: 0;
        -webkit-appearance: none;
    }
    
    p {
        line-height: 1.5em;
    }
    
    .clearfix { *zoom: 1; } /* For IE 6/7 */
    .clearfix:before, .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after { clear: both; }
    
    /* ---------- LOGIN ---------- */
    
    #login {
        margin: 150px auto;
        width: 280px;
    }
    
    #login form span {
        background-color: #363b41;
        border-radius: 3px 0px 0px 3px;
        -moz-border-radius: 3px 0px 0px 3px;
        -webkit-border-radius: 3px 0px 0px 3px;
        color: #606468;
        display: block;
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }
    
    #login form input {
        height: 50px;
        outline:none;
    }
    
    #login form input[type="text"], input[type="password"] {
        background-color: #3b4148;
        border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        -webkit-border-radius: 0px 3px 3px 0px;
        color: #606468;
        margin-bottom: 1em;
        padding: 0 16px;
        width: 198px;
    }
    
    #login form input:focus {
        color:#fff;
    }
    
    #login form input[type="submit"] {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #0000ff;
        color: #eee;
        font-weight: bold;
        margin-bottom: 2em;
        text-transform: uppercase;
        cursor:pointer;
        width: 280px;
    }
    
    .bar {
        border-radius: 3px;
        color: white;
        font-weight: bold;
        margin-bottom: 2em;
        text-transform: uppercase;
        width: 280px;
    }
    
    #login form input[type="submit"]:hover {
        background-color: #000080;
    }
    
    #login > p {
        text-align: center;
    }
    
    #login > p span {
        padding-left: 5px;
    }
    
    
      .bg {
        background-color: dark;
      }
      .pos1 {
        position: relative;
        right: 30px;
      }
      .pos2 {
        position: relative;
        bottom:  10px;
      }
      .pos3 {
        position: relative;
        right:  60px;
      }
      .pos4 {
        position: relative;
        right: 50px;
      }
      .pos5 {
        position: relative;
        bottom: 5px;
      }
      .pos6 {
        position: relative;
        left: 10px;
      }
      .pos7 {
        position: relative;
        left: 20px;
      }
      .pos8 {
        position: relative;
        right: 80px;
      }
      .my-primary {
        background-color: darkcyan;
        color: white;
      }
      main {
      margin-top: 15px;
      padding-top: 10px ;
      }
      html {
          position: relative;
          min-height: 100%;
      }
      body {
          margin-bottom: 40px;
      }
      footer {
          height: 40px;
          position: absolute;
          bottom: 0;
          width: 100%;   
      }
      #connect{
          position: relative;
          left: 45px;
      }
      #connect1{
          position:  absolute;
          top: 130px;
          left: 75px;
          font: 18pt sans-serif;
          border: 3px solid darkcyan;
          width: 340px;
          height: 45px;
          background-color: lightblue;
      }
      .padd{
          position: relative;
          left: 30px;
          padding: 5px;
      }
      table, th, tr, td
      {
          border:   1px solid blue;
          text-align: center;
          margin:  auto;
      }
      .padding {
        padding: 5px;
      }
      .paddingtop {
        padding-top: 10px;
      }
      .shrift {
        font-size: 1.1em;
        font: Times New Roman;
        color: #2c3338;
        text-align: center;
        white-space: nowrap;
      }
       
      .nowrap {
        white-space: nowrap;
      }  
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
